.home {
  position: fixed;
  top: 40px;
  left: 40px;
  font-family: "Noto Sans";
  font-size: 18px;
  color: #ffffff;
}

.mainTitle {
  font-size: 6em;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: bold;
  color: #ffffff;
}

.subTitle {
  font-size: 1.5em;
  text-align: center;
  font-family: "Noto Sans";
  color: #ffffff;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 60px;
}

.textField {
  background-color: white;
  border-radius: 6px;
  width: 460px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.playButton {
  width: 460px;
  height: 70px;
  background-color: #fd903c;
  color: white;
  font-family: "Noto Sans";
  font-size: 1.5em;
  border-radius: 6px;
  margin: 15px;
}

.grayButton {
  width: 220px;
  background-color: #85a4ba;
  color: white;
  font-family: "Noto Sans";
  border-radius: 6px;
}

.buttonContainer {
  display: flex;
  gap: 20px;
}
