.tehai {
  display: flex;
  list-style-type: none;
}

.tsumoContainer {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameDescription {
  font-size: 4em;
  font-family: "MS PMincho";
}

.ryukyoku {
  font-size: 4em;
  font-family: "MS PMincho";
}

.tsumoClaim {
  font-size: 3em;
  font-family: "MS PMincho";
}

.tehaiContainer {
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.syantenContainer {
  font-size: 2em;
  font-family: "MS PMincho";
}
