.discardArea {
	width: auto;
	height: 100%;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.title {
	text-align: left;
	padding-left: 50px;
	font-weight: 500;
	font-size: 20px;
}

.tiles {
	padding-top: 10px;
	padding-left: 50px;
	display: grid;
	grid-template-columns: repeat(6, 50px);
	grid-auto-rows: 70px;
	list-style: none;
	margin: 0;
	gap: 0;
}

.tiles li {
	margin: 0;
	padding: 0;
}

.tiles img {
	margin: 0;
	padding: 0;
	display: block;
	box-sizing: border-box;
}
