.container {
  justify-content: center;
}

.title {
  margin-top: 10px;
  font-family: "Noto Serif JP", "Source Han Serif JP", "Hiragino Mincho ProN",
    "Yu Mincho", serif;
  font-size: 80px;
  margin-bottom: 20px;
}

.checkButton {
  width: 10%;
  height: 20%;
}
