.handStatus {
	padding-bottom: 20px;
	display: flex;
	gap: 5px;
	flex-direction: column;
	border-radius: 4px;
	background-color: white;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	width: 30em;
	height: 100px;
}

.statusText {
	padding-top: 10px;
	font-weight: 500;
	padding-left: 20px;
	font-size: 20px;
	color: #333;
	text-align: left;
}

.details {
	font-weight: 500;
	padding-left: 20px;
	text-align: left;
	font-size: 20px;
	color: #333;
	line-height: 1.5;
}
