.container {
  justify-content: center;
}

.title {
  margin-top: 10px;
  font-family: "Noto Serif JP", "Source Han Serif JP", "Hiragino Mincho ProN",
    "Yu Mincho", serif;
  font-size: 100px;
  margin-bottom: 20px;
  font-weight: 1000;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #dc143c;

  background: -webkit-linear-gradient(#ff7050, #ffe4c4);
  background: linear-gradient(#ff7050, #ffe4c4);

  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  color: transparent;
}

.checkButton {
  width: 10%;
  height: 20%;
}
