.waitingTiles {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: auto;
  background-color: #f9f9f9;
}

.title {
  font-weight: bold;
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
}

.tiles {
  display: flex;
}

.tile {
  margin-right: 4px;
  width: 40px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  color: #333;
}
